<!DOCTYPE html>
<html lang='en' ng-app="BooztMeApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Boozt Me™</title>
        
        <link rel="stylesheet" href="css/style.css">
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="app.js"></script>
        <script src="controllers/users-controllers.js"></script>
        <script src="routes/routes.js"></script>
        
    </head>
    <body>
      <div class="container">
        <header ng-include src="'templates/header.html'">
        </header>

        <section class='container-fluid' ng-view>

        <!-- Form to add users or content  -->
<!--           <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4">
              <h5>Add Content</h5>
              <form ng-submit="addCard()">
                <input type="text" name="newCard.question" ng-model="newCard.question" placeholder="Question on card">
                <input type="text" name="newCard.answer" ng-model="newCard.answer" placeholder="Answer for the question">
                <input type="submit" value="Save!">
              </form>
            </div>
          </div> -->
          </div>
        </section>

        <footer ng-include src="'templates/footer.html'">
          
        </footer>
      </div>
    </body>
</html>